name: CI
on:
  push:
    branches: [main]
  pull_request:

jobs:
  # Build, test, and lint run in parallel with e2e
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: dscho/action-upterm/detached@main
